<!-- <!doctype html>
<title>Search Engine</title>
{% if Google_results_html %}
  <h1>Google Search results: {{ Google_results_html }}!</h1>
{% else %}
  <h1>No query!</h1>
{% endif %} -->

{% extends 'base.html' %}
 
{% block container %}
<div class="top-pad">
  <div id="content">
    <form method="get" action="{{ url_for('query') }}">
      <h1><label for="query">
        <table>
          <td><h1 style="font-size: 80px;color:red">S</h1></td>
          <td><h1 style="font-size: 80px;color:blue">e</h1></td>
          <td><h1 style="font-size: 80px;color:yellow">a</h1></td>
          <td><h1 style="font-size: 80px;color:green">r</h1></td>
          <td><h1 style="font-size: 80px;color:red">c</h1></td>
          <td><h1 style="font-size: 80px;color:blue">h</h1></td>
        </table>
      </label> </h1>
      <div id="search-container" style="justify-content: center;border: bold black 12px;">
      <input id="search-input" type="text" name="query" placeholder="Cari..."/>
      <button style="height: 39px;width:39px; 
          top: 0;
          right: 0;
          padding: 6px 10px;
          background-color: #ccc;
          border: none;
          border-radius: 4px;
          cursor: pointer;" ><i  class="fas fa-search"></i></button>
      </div>
      <br />
      <button type="submit" style="margin-top:2vh;">
        <div id="buttonvalue" style="display: flex;padding: auto;">
        <span style="color: Red;">S</span><span style="color: blue;">e</span><span style="color: yellow;">a</span><span style="color: green;">r</span><span style="color: red;">c</span><span style="color: blue;">h</span>
        </div>
      </button>
    </form>

</div>

</div>

<h2>Query: {{ query }}</h2>
<h2>Our Engiene results: </h2>
<ol type="1">
  <li><a href="{{ Search_results[0] }}">{{ Search_results[0] }}</a></li>
  <li><a href="{{ Search_results[1] }}">{{ Search_results[1] }}</a></li>
  <li><a href="{{ Search_results[2] }}">{{ Search_results[2] }}</a></li>
  <li><a href="{{ Search_results[3] }}">{{ Search_results[3] }}</a></li>
  <li><a href="{{ Search_results[4] }}">{{ Search_results[4] }}</a></li>
</ol>
<h2>Google Search results: </h2>
<ol type="1">
  <li><a href="{{ Google_results_html[0] }}">{{ Google_results_html[0] }}</a></li>
  <li><a href="{{ Google_results_html[1] }}">{{ Google_results_html[1] }}</a></li>
  <li><a href="{{ Google_results_html[2] }}">{{ Google_results_html[2] }}</a></li>
  <li><a href="{{ Google_results_html[3] }}">{{ Google_results_html[3] }}</a></li>
  <li><a href="{{ Google_results_html[4] }}">{{ Google_results_html[4] }}</a></li>
</ol>

{% endblock %}